In [1]:
import pandas as pd 
import numpy as np
import tensorflow as tf
import keras


import warnings
warnings.filterwarnings('ignore')

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
#pip install tensorflow

In [3]:
#pip install scikit-learn

In [4]:
df=pd.read_csv(r"H:\Sandeep\DATA SCIENCE\DATA SCIENCE -srk\SRK notes NEW\[09.00 AM] SRK Sir Notes\18. Artificial Neural Networks\Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [10]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [11]:
X=df.drop(['Exited'],axis=1)
X=pd.get_dummies(X,drop_first=True,dtype='int')
y=df['Exited']

In [12]:
X.head(20)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,1,1
6,822,50,7,0.00,2,1,1,10062.80,0,0,1
7,376,29,4,115046.74,4,1,0,119346.88,1,0,0
8,501,44,4,142051.07,2,0,1,74940.50,0,0,1
9,684,27,2,134603.88,1,1,1,71725.73,0,0,1
10,528,31,6,102016.72,2,0,0,80181.12,0,0,1
11,497,24,3,0.00,2,1,0,76390.01,0,1,1
12,476,34,10,0.00,2,1,0,26260.98,0,0,0
13,549,25,5,0.00,2,0,0,190857.79,0,0,0
14,635,35,7,0.00,2,1,1,65951.65,0,1,0
15,616,45,3,143129.41,2,0,1,64327.26,1,0,1
16,653,58,1,132602.88,1,1,0,5097.67,1,0,1
17,549,24,9,0.00,2,1,1,14406.41,0,1,0
18,587,45,6,0.00,1,0,0,158684.81,0,1,1
19,726,24,6,0.00,2,1,1,54724.03,0,0,0

In [13]:
# X['Geography_Germany']=X['Geography_Germany'].apply(lambda x:1 if x==True else  0 )
# X['Geography_Spain']=X['Geography_Spain'].apply(lambda x:1 if x==True else  0 )
# X['Gender_Male']=X['Gender_Male'].apply(lambda x:1 if x==True else  0 )

In [14]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [17]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [18]:
import warnings
warnings.filterwarnings('ignore')

from keras.layers import Dense
from keras.models import Sequential
seq=Sequential()

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
seq.add(Dense(input_dim =11, units=12, kernel_initializer='uniform',activation = 'relu'))
seq.add(Dense(units=11,kernel_initializer='uniform',activation ='relu'))
seq.add(Dense(units=10,kernel_initializer='uniform',activation ='relu'))

seq.add(Dense(units=1,kernel_initializer='uniform',activation ='sigmoid'))

In [20]:
import warnings 
warnings.filterwarnings('ignore')

seq.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# seq.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuray'])

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [21]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [22]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [23]:
seq.fit(X_train,y_train,epochs=100,batch_size=32,verbose=1)

Epoch 1/100
WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Anaconda\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 2ms/step - loss: 0.5384 - accuracy: 0.7937
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4312 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.8202
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4114 - accuracy: 0.8319
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4068 - accuracy: 0.8329
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8349
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8367
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8353
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3988 - accuracy: 0.8360
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3977 - accuracy: 0.8365
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3977 - accuracy: 0.8359
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3968 - accuracy: 0.8366
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3961 - accuracy: 0.8370
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3953 - accuracy: 0.8363
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3939 - accuracy: 0.8379
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3899 - accuracy: 0.8397
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3834 - accuracy: 0.8421
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3746 - accuracy: 0.8485
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3661 - accuracy: 0.8509
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3597 - accuracy: 0.8509
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3561 - accuracy: 0.8535
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3514 - accuracy: 0.8541
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3497 - accuracy: 0.8554
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3486 - accuracy: 0.8571
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3465 - accuracy: 0.8572
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3461 - accuracy: 0.8579
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3444 - accuracy: 0.8593
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8596
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3425 - accuracy: 0.8595
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3420 - accuracy: 0.8577
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3422 - accuracy: 0.8586
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8595
Epoch 34/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8609
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8600
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8597
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8606
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8629
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8616
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8587
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8614
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8630
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3379 - accuracy: 0.8586
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8593
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8590
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8594
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8599
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8600
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8625
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3364 - accuracy: 0.8610
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8625
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3338 - accuracy: 0.8614
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8597
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8605
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8616
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8615
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8583
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8596
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8616
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8619
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8610
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8594
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3353 - accuracy: 0.8591
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8626
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8611
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8608
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8618
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8618
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8599
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8633
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8618
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8610
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8618
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8631
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8608
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8601
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8600
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8608
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8616
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8618
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8599
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8621
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8630
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8630
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8596
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8612
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8599
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8611
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8606
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8602
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8627
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8611
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8614
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8612
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8579
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8608
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8616
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8606
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3318 - accuracy: 0.8606
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8621

In [24]:
y_pred=seq.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

In [25]:
from sklearn.metrics import confusion_matrix, accuracy_score
print('test Accuracy:',accuracy_score(y_test,y_pred))
confusion_matrix(y_test,y_pred)

test Accuracy: 0.8625

array([[1532,   63],
       [ 212,  193]], dtype=int64)